@media (max-width: 615px){
navigation-wrapper{
    flex-direction: column;
    height: 100%;
}

.navigation_wrapper > .left_column{
    order: 2;
    margin-top: 10px;
    margin-bottom: 15px;
}
.navigation_wrapper > .center_column{
    order: 1;
    width: 100%;
}
.navigation_wrapper > .right_column{
    order: 3;
    width: 15%;
}
}